<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Country Generator</title>
</head>
<body>
    <h1>Random Country Generator</h1>
    <div class="result"></div>
    <button id="generate">Get Travel Location</button>
    <script src="../public/app.js"></script>
    <script>
        const resultDiv = document.querySelector('.result'); 
        const generateBtn = document.querySelector('#generate')
        generateBtn.addEventListener('click', () => {
            loadCountryName(resultDiv)
        })
    </script>
</body>
</html>